

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/Grants?schema=public"
# GRANTS_BASE_URL="https://indexer-grants-stack.gitcoin.co/data"
DATABASE_URL="postgresql://postgres:postgres@grantsdb.grants-etl.orb.local:5432/Grants?schema=public"
GRANTS_BASE_URL="https://indexer-production.fly.dev/data"
